<div class="home-hero col-md-12">
    <div id="logo-div">
      <%= image_tag 'SA-logo.svg', class: 'logo' %>
    </div>
</div>

  <div class="main-content col-md-12">
    <h1>Header</h1>
    <p>
      Carrot cake soufflé oat cake pie chocolate muffin I love candy. Muffin gingerbread gingerbread cheesecake apple pie I love tart marzipan croissant. Sweet roll cotton candy cake powder liquorice cupcake topping candy canes. Toffee sesame snaps bear claw pudding.
    Donut carrot cake dragée tootsie roll caramels apple pie cotton candy bear claw. Marzipan ice cream gingerbread wafer. Cookie cookie danish lemon drops chocolate sesame snaps. Pie sweet topping wafer gummi bears carrot cake.
    Tiramisu pastry oat cake cake apple pie I love. Gummi bears muffin apple pie I love. Topping candy cupcake topping.
    Lollipop apple pie gingerbread toffee cotton candy gummi bears halvah. Jujubes donut chocolate cotton candy. Lemon drops powder lemon drops cake cake. Sweet roll candy pie dessert marshmallow.
    Chocolate bar sweet marshmallow cheesecake sugar plum muffin. Bear claw chocolate bar topping danish dessert. Gummi bears sweet tootsie roll jelly-o sweet tart dessert pastry I love.
    Carrot cake soufflé oat cake pie chocolate muffin I love candy. Muffin gingerbread gingerbread cheesecake apple pie I love tart marzipan croissant. Sweet roll cotton candy cake powder liquorice cupcake topping candy canes. Toffee sesame snaps bear claw pudding.
  Donut carrot cake dragée tootsie roll caramels apple pie cotton candy bear claw. Marzipan ice cream gingerbread wafer. Cookie cookie danish lemon drops chocolate sesame snaps. Pie sweet topping wafer gummi bears carrot cake.
  Tiramisu pastry oat cake cake apple pie I love. Gummi bears muffin apple pie I love. Topping candy cupcake topping.
  Lollipop apple pie gingerbread toffee cotton candy gummi bears halvah. Jujubes donut chocolate cotton candy. Lemon drops powder lemon drops cake cake. Sweet roll candy pie dessert marshmallow.
  Chocolate bar sweet marshmallow cheesecake sugar plum muffin. Bear claw chocolate bar topping danish dessert. Gummi bears sweet tootsie roll jelly-o sweet tart dessert pastry I love.
  </p>
</div>
