<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to 'Facebook', '#'%></li>
        <li><%= link_to 'Twitter', '#' %></li>
        <li><%= link_to 'Instagram', '#' %></li>
        <li><%= link_to 'LinkedIn', '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
